{{> navbar}}
<div class="container mt-3">
  <header class="my-5">
    <h1>Bienvenido a mi blog</h1>
    <p>
     Acá encontraras los ultimos pokemones que he capturado 
    </p>
    <a href="/about">Conóceme</a>
  </header>
  <hr>
  <h3 class="mt-5 mb-3">Últimos artículos</h3>
  {{#each articles}}
    <div class="card mb-3">
      <div class="card-body">|
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.content}}</p>
        <a href="/articles/{{this.id}}" class="btn btn-primary btn-sm">Leer más</a>
      </div>
    </div>
  {{/each}}
</div>